<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="connectionDatabaseString" connectionString="Data Source=somerendatabaseserver.database.windows.net;
                                                      Initial Catalog=SomerenDatabase; 
													  User=SomerenMaster; 
													  Password=k3[$:dpA7}"/>
    </connectionStrings>
</configuration>